<h1>Pages#info</h1>
<h2>This is my about me page</h2>
<body> I'm just writing some garbage about myself here to see if this works and if I know how HTML works.</body>
<p>Find me in app/views/pages/info.html.erb</p>
